language: php
sudo: false
php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  - 8.1.0
  - 8.2.0
  - 8.3.0
# Disable xdebug for PHP >= 7.3
# https://stackoverflow.com/questions/65172031/vendor-bin-phpunit-exited-with-2
before_script:
  - phpenv config-rm xdebug.ini
script:
  - pear list
  - pear channel-update pear.php.net
  - pear upgrade --force pear/pear
  - pear list
  - pear install --force package.xml
  - pear list
  - pear package
  - pear package-validate
  - pear install --force *.tgz
  - pear list
  - composer install
  - ./vendor/bin/phpunit -c phpunit.xml.dist
